.main {
    background-color: rgb(18, 38, 75);
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    width: 80%;
    margin: 0 auto;
    height: 90vh;
    background-color: rgb(18, 38, 75);
}

.tos-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    width: 80%;
    margin: 0 auto;
    height: 130vh;
    background-color: rgb(18, 38, 75);
}

.pp-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    width: 80%;
    margin: 0 auto;
    height: 210vh;
    background-color: rgb(18, 38, 75);
}
.main-content {
    justify-self: start;
    margin-left: 20px;
    color: white;
    width: 80%;
}

.tos-content {
    justify-self: start;
    margin-left: 20px;
    color: white;
    width: 80%;
}

.main-content h1 {
    font-size: 1.5rem;
}

.tos-content h2 {
    font-size: 1rem;
}

.tos-content p {
    font-size: 0.8rem;
}

.tos-content ul {
    font-size: 0.8rem;
}

.main-content {
    margin-top: 1rem;
    font-size: 1.2rem;
}

.service-btn {
    font-size: 1rem;
    background-color: red;
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    color: white;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.service-btn a {
    position: relative;
    z-index: 2;
    color: white;
    text-decoration: none;
}

.service-btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: all 0.35s;
    border-radius: 4px;
    background: rgb(32, 109, 197);
}

.service-btn:hover {
    color: white;
}

.service-btn:hover:after {
    width: 100%;
}

.directions-btn {
    font-size: 1rem;
    background-color: red;
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    color: white;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.directions-btn a {
    position: relative;
    z-index: 2;
    color: white;
    text-decoration: none;
}

.directions-btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: all 0.35s;
    border-radius: 4px;
    background: rgb(32, 109, 197);
}

.directions-btn:hover {
    color: white;
}

.directions-btn:hover:after {
    width: 100%;
}

.main-btn {
    font-size: 1rem;
    background-color: red;
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    color: white;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.main-btn a {
    position: relative;
    z-index: 2;
    color: white;
    text-decoration: none;
}

.main-btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: all 0.35s;
    border-radius: 4px;
    background: rgb(32, 109, 197);
}

.main-btn:hover {
    color: white;
}

.main-btn:hover:after {
    width: 100%;
}

.main-img-container {
    text-align: center;
}

#main-img {
    height: 80%;
    width: 80%;
}

@media screen and (max-width: 576px) {
    .main-container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 90%;
        margin: 0 auto;
        height: 90vh;
        background-color: rgb(18, 38, 75);
    }
    
    .tos-container {
        height: 2300px;
    }

    .pp-container {
        height: 3600px;
    }

    .main-content {
        justify-self: center;
        color: white;
        width: 80%;
        margin: 0;
    }

    .main-content h1 {
        font-size: 2.5rem;
    }

    .main-content p {
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    #main-img {
        display: none;
    }
}
