<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="../css/style.css">
        <title>My Page</title>
    </head>

    <body>
        <div class="nav-container">
            <nav class="navbar">
                <h1 id="navbar-logo">Verr<span>Maps</span></h1>
                <div class="menu-toggle" id="mobile-menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>

                <ul class="nav-menu">
                    <li><a href="index.html" class="nav-links">Home</a></li>
                    <li><a href="service.html" class="nav-links">Service</a></li>
                    <li><a href="directions.html" class="nav-links">Directions</a></li>
                    <li><a href="contact.html" class="nav-links">Contact Us</a></li>
                    <li><a href="#" class="nav-links">About Us</a></li>
                </ul>
            </nav>
        </div>
        
        <div class="main">
            <div class="main-container">
                <div class="main-content">
                    <h1>About Us</h1>
                </br>
                    <p>ParkingMaps was established in 2018 by CEO Mr Teo. ParkingMaps was established to aid drivers in finding parking slots.</p>
                </div>
                <div class="main-img-container">
                    <img src="../images/about.svg" alt="" id="main-img">
                </div>
            </div>
        </div>
        <div class="footer-container">
            <div class="footer">
                <div class="footer-heading footer-1">
                    <h2>ABOUT US</h2>  
                    <a href="tos.html">Terms of Service</a>    
                    <a href="pp.html">Privacy Policy</a>       
                </div>

                <div class="footer-heading footer-2">
                    <h2>CONTACT US</h2>
                    <a href="contact.html">Office Number</a>     
                </div>

                <div class="footer-heading footer-3">
                    <h2>SOCIAL MEDIA</h2>
                    <a href="https://www.facebook.com/WeKeepYourWorldMoving/">Facebook</a>    
                    <a href="#">YouTube</a>    
                    <a href="#">Instagram</a>    
                </div>
            </div>
        </div>
        <script src="../script.js"></script>
    </body>
</html>