<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="../css/style.css">
        <title>My Page</title>
    </head>

    <body>
        <div class="nav-container">
            <nav class="navbar">
                <h1 id="navbar-logo">Verr<span>Maps</span></h1>
                <div class="menu-toggle" id="mobile-menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>

                <ul class="nav-menu">
                    <li><a href="#" class="nav-links">Home</a></li>
                    <li><a href="service.html" class="nav-links">Service</a></li>
                    <li><a href="directions.html" class="nav-links">Directions</a></li>
                    <li><a href="contact.html" class="nav-links">Contact Us</a></li>
                    <li><a href="about.html" class="nav-links">About Us</a></li>
                </ul>
            </nav>
        </div>
        <div class="main">
            <div class="main-container">
                <div class="main-content">
                    <h1>Find parking slots near you!</h1>
                </br>
                    <p>ParkingMaps allows you to locate parking slots in your vicinity.</p>
                    <button class="service-btn"><a href="service.html">Start using the service for free!</a></button>
                    <button class="directions-btn"><a href="directions.html">Find directions through multiple modes of transport</a></button>
                    <button class="main-btn"><a href="#">Subscribe to our newsletter</a></button>
                </div>
                <div class="main-img-container">
                    <img src="../images/carnav.svg" alt="" id="main-img">
                </div>
            </div>
        </div>
        <div class="modal" id="email-modal">
            <div class="modal-content">
                <span class="close-btn">&times;</span>
                <div class="modal-content-left">
                    <img id="modal-img" src="../images/electriccar.svg" alt="">
                </div>
                <div class="modal-content-right">
                    <form action="/" method="GET" class="modal-form" id="form">
                        <h1>Subscribe to our weekly newsletter! You can cancel your subscription anytime.</h1>
                        <div class="form-validation">
                            <input type="text" class="modal-input" id="name" name="name" placeholder="Enter your name">
                            <p>Error Message</p>    
                        </div>
                        <div class="form-validation">
                            <input type="email" class="modal-input" id="email" name="email" placeholder="Enter your email">
                            <p>Error Message</p>    
                        </div>
                        <input type="submit" class="modal-input-btn" value="Sign Up">
                    </form>
                </div>
            </div>
        </div>
        <div class="footer-container">
            <div class="footer">
                <div class="footer-heading footer-1">
                    <h2>ABOUT US</h2>  
                    <a href="tos.html">Terms of Service</a>    
                    <a href="pp.html">Privacy Policy</a>       
                </div>

                <div class="footer-heading footer-2">
                    <h2>CONTACT US</h2>
                    <a href="contact.html">Office Number</a>     
                </div>

                <div class="footer-heading footer-3">
                    <h2>SOCIAL MEDIA</h2>
                    <a href="https://www.facebook.com/WeKeepYourWorldMoving/">Facebook</a>    
                    <a href="#">YouTube</a>    
                    <a href="#">Instagram</a>    
                </div>
            </div>
        </div>
        <script src="../script.js"></script>
    </body>
</html>